<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315811589668-gg8g1d8btlqm9mj0ijtp1jnqputc0pb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315811589668-gg8g1d8btlqm9mj0ijtp1jnqputc0pb4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315811589668-n9v65q86ubfjh26ibi3bcn9c25eicg70.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG3BV5r6GMJgQnbmE8TBfNIb9Wfot9QYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>315811589668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edtechTiktok</string>
	<key>PROJECT_ID</key>
	<string>rachatribu</string>
	<key>STORAGE_BUCKET</key>
	<string>rachatribu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315811589668:ios:db1535fc9d5d16178a72b1</string>
</dict>
</plist>